@model Profile
@{
    ViewData["Title"] = "Home Page";
}

<div style="text-align: center">
    @if ((bool) ViewData["IsStarted"] == false)
    {
        <form style="text-align: end" asp-action="Start" asp-controller="Room" method="post">
            <button class="btn btn-success" type="submit">Start Game</button>
        </form>    }

    <img style="margin:auto" src="/images/santa.png" alt="" width="200" height="200">

    <div class="text-center" style="width : 800px; background-color: #FF4500; padding : 50px; margin: 20px auto; border : 1px solid red; border-radius: 50px">

        @if (Model == null)
        {
            <p style="color: white; font-weight: bold; font-size: 17px;">@ViewData["Message"]</p>
        }
        else
        {
            <p style="color: white; font-size: 17px; text-align: left">
                <em>
                    Dear Santa,
                    I hope that you and all of your elf friends at the North Pole are well, They must be getting very excited that New Year is comming and they will soon be helping you to deliver presents all around the world
                    I am writting to let you know that I want @Model.LetterToSecretSanta
                </em>
            </p>
            <p style="color: white; font-size: 15px; margin-top: 50px; text-align: right">
                <em>Birth Date:  @Model.BirthDate</em>
            </p>
            <p style="color: white; text-align: right;font-size: 16px">
                <em>Happy New Year !</em>
            </p>
            <p style="color: white; font-size: 15px;  text-align: right">
                <em>Love, @Model.EmailAddress</em>
            </p>
        }


    </div>

</div>