@model Room
@{
    ViewData["Title"] = "Create New Room";
}

<div style="text-align: center; border: 1px solid black; padding: 30px; border-radius: 10px; ; width: 500px; margin:150px auto">
    <h5 style="text-decoration: underline" class="text-danger">@ViewData["Message"]</h5>
    <h2 style="color: green; margin-bottom: 30px">Create new room</h2>
    <form asp-action="Create" asp-controller="Room" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="All"></div>

        <div class="form-group">
            <label style="width: 100px; text-align: center" asp-for="Name"></label>
            <input style="width: 300px; border: 1px solid black; border-radius: 5px" asp-for="Name" required="required">
        </div>

        <div class="form-group">
            <label style="width: 100px" asp-for="Description"></label>
            <input style="width: 300px;border: 1px solid black; border-radius: 5px" asp-for="Description" required="required">
        </div>

        <div class="form-group">
            <label asp-for="ImageLogoFile"></label>
            <input asp-for="ImageLogoFile" accept="image/*" required="required">
        </div>
        <button style="width: 200px" type="submit" class="btn btn-primary">Create</button>
    </form>
</div>