@{
    ViewData["Title"] = "Profile";
    Layout = "_layout";
}

<div id="profile">
    <h5 style="text-decoration: underline" class="text-danger">@ViewData["Message"]</h5>
    <form asp-action="Profile" method="post">
        <div>
            <p lass="form-control">Email Address : @ViewData["Email"]</p>
        </div>
        <div>
            <label for="birthDate">Birth Date</label>
            <input id="birthDate" type="date" class="form-control" name="birthDate" placeholder="birthDate" value="@ViewData["birthDate"]" required="required">
        </div>
        <div>
            <label for="letterToSecretSanta">Letter to Secret Santa</label>
            <textarea id="letterToSecretSanta" type="text" class="form-control" name="letterToSecretSanta" placeholder="Type letter to secret santa" rows="5" cols="50" required="required">@ViewData["letterToSecretSanta"]</textarea>
        </div>
        <div>
            <button class="btn btn-success" class="form-control" type="submit">Save</button>
        </div>
    </form>
</div>