@model User
@{
    ViewData["Title"] = "Sign In";
    Layout = "_auth";
}

<div id="sign-in">
    <img src="~/images/santa.png" alt="" width="200" height="200">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <form asp-controller="User" asp-action="SignIn" method="post">
        <div>
            <input type="email" class="form-control" asp-for="EmailAddress" name="EmailAddress" placeholder="Email Address" required="required"/>
            <span class="text-danger" asp-validation-for="EmailAddress"></span>
        </div>
        <div>
            <input class="form-control" type="password" class="form-control" asp-for="Password" name="Password" placeholder="Password" required="required"/>
        </div>
        <span class="text-danger"> @ViewData["Message"]</span>
        <button class="btn btn-primary" type="submit">Sign in</button>
    </form>
    
    <form asp-action="SignUp" method="get">
        <button class="btn btn-success" type="submit">Sign Up</button>
    </form>
</div>