@{
    ViewData["Title"] = "Room Creator Panel";
    Layout = "_Layout";
}

<div style="text-align: center">
    <form asp-action="Start" asp-controller="Game" method="post">
        <button class="btn btn-success" type="submit">Start Game</button>
    </form>
</div>

